.Books {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - 60px);
  display: grid;
  grid-template-columns: 1fr 4fr;
  .sidebar{
    display: flex;
    flex-direction: column;
    background-color: #8D8F04;
    opacity: 0.69;
    max-width: 280px;
    .item{ 
      font-size: 24px;
      z-index: 100;
      display: flex;
      align-items: center;
      height: 30px;
      padding: 8px;
      margin: 8px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      cursor: pointer;
      color: white;
      font-weight: 400;
      &.active{
        background-color: rgb(118, 139, 28);
      }
      &:hover{
        background-color: rgb(118, 139, 28);
        // opacity: 0.53;
      }
      span {
        opacity: 1;
      }
    }
  }

  .content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    .book {
      padding: 8px;
      margin: 8px;
      width: 300px;
      border: 1px solid black;
      border-radius: 6px;
      .cover {
        padding: 8px;
        overflow: hidden;
        height: 300px;
        > img {
          width: 100%;
          // height: 100%;
        }
      }
      .title {
        padding: 16px;
        font-size: 18px;
      }
      .progress {
        padding-left: 16px;
      }
    }
  }

  @media screen and (max-width: 850px) {
    grid-template-columns: 40px 1fr;
    .content{
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 600px) {
    .content{
      grid-template-columns: 1fr;
    }
    .sidebar{
     .item{
       > div, span  {
         display: none ;
       }
       > svg {
         width: 30px;
         height: 30px;
       }
     }
      // display: none;
      width: 50px;
    }
  }

  .open-book {
    .close {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1100;
      padding: 16px;
      cursor: pointer;
    }
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
    z-index: 1000;
  }
}
