@import '../../themes.scss';

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

.Books {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - 60px);
  display: grid;
  grid-template-columns: 1fr 4fr;
  @include themify($themes) {
    background-color: themed('backgroundColor');
  }
  .book-details{
    z-index: 1050;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 1px 1px 4px 0px grey;
    border: 5px solid #7CC0CF;
    border-radius: 10px;
    @include themify($themes) {
      background-color: themed('backgroundColor');
      color: themed('textColor');
      border-color: themed('borderColor');
      box-shadow: themed('boxShadow');
    }
    .left{
      margin: 44px;
      .title{
        margin-top: 16px;
        font-weight: 700;
        font-size: 28px;
        @include themify($themes) {
          color: themed('blueTextColor');
        }
      }
      .author{
        margin-top: 8px;
        font-weight: 400;
        font-size: 20px;
        @include themify($themes) {
          color: themed('blueTextColor');
        }
      }
      .released{
        margin-top: 8px;
        font-weight: 300;
        font-size: 16px;
        @include themify($themes) {
          color: themed('blueTextColor');
        }
      }
    }
    .right{
      .title{
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 28px;
        @include themify($themes) {
          color: themed('blueTextColor');
        }
      }
      margin: 44px 0px;
      margin-right: 44px;
    }
  }
  .sidebar{
    display: flex;
    flex-direction: column;
    max-width: 280px;
    @include themify($themes) {
      background-color: themed('buttonColor');
  }
    .item{ 
      font-size: 24px;
      // z-index: 100;
      display: flex;
      align-items: center;
      height: 30px;
      padding: 8px;
      margin: 8px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      cursor: pointer;
      color: white;
      font-weight: 400;
      &.active{
        background-color: rgb(118, 139, 28);
      }
      &:hover{
        background-color: rgb(118, 139, 28);
        // opacity: 0.53;
      }
      span {
        opacity: 1;
      }
    }
  }

  .content{
    // z-index: 1010;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    .book-content-container {
      max-height: 700px;
      margin: 8px;
      width: 326px;
      border: 2px solid #117D95;
      border-radius: 6px;
      @include themify($themes) {
        background-color: themed('backgroundColor');
        border-color: themed('borderColor');
        box-shadow: themed('boxShadow');
      }
      &.open{
        display: flex;
        // position: fixed;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        // z-index: 10;
        // overflow: hidden;
        // padding: 40px 0;
      }
      .cover {
        // padding: 8px;
        margin-top: 24px;
        margin-bottom: 8px;
        overflow: hidden;
        // height: 320px;
        // > img {
        //   width: 261px;
        //   height: 100%;
        // }
      }
      .title {
        // padding: 16px;
        padding-left: 24px;
        padding-right: 24px;
        font-weight: 600;
        @include themify($themes) {
          color: themed('blueTextColor')
        }
        font-size: 20px;
      }
      .progress {
        padding-left: 16px;
      }
      .btn{
        border: 1px solid #117D95;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        padding: 0px 16px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include themify($themes) {
          color: themed('blueTextColor')
        }
        // &:hover{
        //   color: white;
        //   background-color: #117D95;
        // }
      }
    }
  }

  @media screen and (max-width: 850px) {
    grid-template-columns: 40px 1fr;
    .content{
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 600px) {
    .content{
      grid-template-columns: 1fr;
    }
    .sidebar{
     .item{
       > div, span  {
         display: none ;
       }
       > svg {
         width: 30px;
         height: 30px;
       }
     }
      // display: none;
      width: 50px;
    }
  }

  .open-book {
    .close {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1100;
      padding: 16px;
      cursor: pointer;
    }
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
    z-index: 1000;
  }
}
