.BookDetails {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 60px);
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    .book {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 8px;
      margin: 8px;
      width: 100%;
      border-radius: 6px;
      .cover {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        // padding: ;
        overflow: hidden;
        > img {
          height: 400px;
        }
      }

      .left{
        padding: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        .title {
          padding: 16px;
          font-size: 18px;
        }
        .subtitle{
          padding: 0px 24px;
        }
      }
      .right{
          padding: 10%;
          .description {
            //   padding: 10%;
              font-size: 18px;
          }
      }
    }
    .open-book {
      .close {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1100;
        padding: 16px;
        cursor: pointer;
      }
      top: 0;
      left: 0;
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: blanchedalmond;
      z-index: 1000;
    }
  }