// @app-primary: #0f3460;
// @app-secondary: #e94560;
@import "./components/NavBar/NavBar.scss";
@import "main.scss";
// @import "./ora-framework.scss";
@import './components/Login/Login.scss';
@import './components/Books/Books.scss';
@import './components/Books/BookDetails.scss';
@import './components/Register/Register.scss';
@import './themes.scss';




@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

.App {
  height: 100vh;
  // .NavBar;
  // .Login;
}

.read-book-modal{
  background-color: white;
  position: absolute;
  // width: 100vw;
  // height: 100vw;
  // padding: 5%;
  .open-book{
    background-color: white;
    width: 100vw;
    height: 100vh;
  }
  .close{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
  }
  .left{
    position: absolute;
    top: 50%;
    left: 2%;
    z-index: 3;
  }
  .right{
    position: absolute;
    top: 50%;
    right: 2%;
    z-index: 3;
  }
}


.new-book-modal{
  position: absolute;
  // width: 400px;
  // height: 300px;
  .modal-body{
    width: 400px;
    height: 300px;
    background-color: white;
    .inner{
      padding: 32px;
    }
    .submit{
      height: 50px !important;
  }
  }
}

.input{
  > input {
      height: 30px;
  }
}

.overlay {
  // z-index: 1000;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;

  transform: translateX(-50%);
}