.flex {
  display: flex;
  align-content: flex-end;
}
.center {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p {
  padding: 8px;
}
.p2 {
  padding: 16px;
}
.p3 {
  padding: 24px;
}
.p4 {
  padding: 32px;
}

.grow {
  flex-grow: 1;
}

// .hand {
//   &.hover {
//     cursor: pointer;
//   }
// }

:hover {
  .hand {
    cursor: pointer;
  }
}

.input {
  width: 100%;
  margin: 8px;
  input {
    width: 90%;
    height: 5px;
    padding: 8px;
  }
}
